.test_con {
    text-align: center;
    height: 500px;
    background-color: #fff;
    max-width: 1170px;
    margin: 0 auto;
    overflow: hidden;

    & .test_title {
        font-size: 32px;
        font-weight: bold;
        margin-top: 55px;
    }

    & .test_list {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-top: 80px;

        & .test_item {
            width: 320px;
            margin: 0 30px;
        }

        & img {
            width: 60px;
            height: 60px;
            border-radius: 100%;
            object-fit: cover;
            margin: 20px 0;
        }

        & h4 {
            font-size: 20px;
            font-weight: bold;
        }

        & .bio {
            font-size: 12px;
            color: #757575;
        }
    }
}

@media screen and (max-width: 480px){
    .test_con {
        height: auto;

        & .test_list {
            flex-direction: column;

            & .test_item {
                width: 100%;
                margin: 0;
                padding: 30px;
            }
        }
    }
}