* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  line-height: 1.2;
}

/* .app-container {
  min-height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-image: url('./template.png');
  background-size: 20% 100%;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  z-index: 10;
}

.content-container {
  background: white;
  width: 100vw;
  max-width: 1200px;
  margin: 2rem, 0;
  padding: 2rem, 0;
 background: transparent;
 height: 99vh;
} */